.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  pointer-events: none;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal__container {
  background: white;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
}

.delete-modal__container {
  background-color: rgba(255, 255, 255, 1);
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 20px;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.delete-modal__container .modal__close-btn {
  position: absolute;
  right: -40px;
  top: 0;
  opacity: 1;
}

.modal__preview-container {
  padding: 0;
  background: none;
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}

.modal__image {
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 90vw;
  max-height: 85vh;
  width: 100%;
  height: auto;
}

.modal__caption {
  margin: auto auto auto 0;
  padding: 4px 8px;
  background-color: #212121;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  border-radius: 10px;
  text-align: left;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Group-27.svg);
  background-position: center;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.modal__close-btn_type_preview {
  background-image: url(../images/Close-Icon.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/Property-1-Variant4.svg);
}

.modal__close-btn:hover {
  opacity: 1;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.delete-modal__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
  color: #212121;
  opacity: 70%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  border-width: 1px;
  opacity: 40%;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:hover {
  opacity: 1;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.modal__input:not(:placeholder-shown) {
  color: black;
  opacity: 1;
}

.modal__error {
  display: block;
  color: #ff0000;
  opacity: 70%;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__submit-btn_disabled {
  background-color: #212121;
  opacity: 50%;
}

.delete-modal__submit-btn {
  width: 156px;
  border: none;
  border-radius: 8px;
  padding: 18px 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 1;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(255, 101, 101, 1);
}

.delete-modal__submit-btn:hover {
  background-color: rgba(255, 51, 51, 1);
}

.delete-modal__cancel-btn {
  width: 156px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 1);
  padding: 18px 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 1;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(255, 255, 255, 1);
}

.delete-modal__cancel-btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 33, 33, 1);
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal__container {
    padding: 12px;
    max-width: 320px;
  }

  .modal__preview-container {
    max-width: 320px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__image {
    width: 100%;
    border-radius: 4px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -40px;
    left: 250px;
    padding-bottom: 0px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__caption {
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
  }
}
