.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  width: 100%;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  width: 100%;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  opacity: 70%;
  background: none;
  color: black;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-btn:hover {
  color: #212121;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  opacity: 100%;
}

.pencil-icon {
  margin-right: 8px;
}

.profile__add-btn {
  margin-left: auto;
  height: 52px;
  width: 149px;
  border-radius: 8px;
  background-color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #fcf5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__add-btn:hover {
  opacity: 0.8;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.plus-icon {
  margin-right: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    margin: 0 auto;
    padding: 0;
  }

  .profile__add-btn {
    margin: 0 auto;
    padding: 0;
    max-width: 288px;
    width: 288px;
  }
}
